certifi==2020.6.20
cycler==0.10.0
joblib==0.17.0
kiwisolver==1.2.0
llvmlite==0.34.0
matplotlib
numba==0.51.2
numpy
Pillow==8.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
scikit-learn==0.23.2
scipy
Shapely==1.7.1
six==1.15.0
threadpoolctl==2.1.0
certifi==2020.6.20
chardet==4.0.0
cycler==0.10.0
GDAL==3.0.2
joblib==0.17.0
JPlot==0.0.13
kiwisolver==1.2.0
llvmlite==0.34.0
matplotlib==3.3.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numba==0.51.2
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
Pillow==8.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
scikit-learn==0.23.2
scipy==1.6.0
Shapely==1.7.1
six @ file:///C:/ci/six_1605187374963/work
threadpoolctl==2.1.0
wincertstore==0.2
